    
    <section>

        <h1>Welcome to Dental Tech</h1>
        <img src="images/home_img.jpg" alt="home_img" style="width:170px;height:120px;margin-left:15px;">

    <p>Welcome to Dental Tech!! We are proud to offer over a decade of experience in the field of dental IT. Our goal is to provide you with reliable and responsive services that will allow you to focus on what matters most - your patients. Our Dentis Tech! IT solutions will give you peace of mind so you can concentrate on treating patients, expanding your practice, and increasing revenue. Get started today and experience the benefits of our expert dental IT services.</p>
    

    <a href="/about">Learn more about me &#128072 </a>  

</section>
