<section>
  <h1>Services</h1>
  <br>
  <div style="display: flex;">
    <img src="images/support.jpg" alt="ticket" style="width:180px;height:170px;margin-right:15px;" >
    <div style="height: 180px; overflow: auto;"> 
    <p>Support</p>
  </div>
  </div>
  <br>
  <div style="display: flex;">
    <img src="images/ccomp.jpg" alt="cloud" style="width:180px;height:170px;margin-right:15px;">
    <div style="height: 180px; overflow: auto;">
    <p>Cloud computing</p>
  </div>
  </div>
  <br>
  <div style="display: flex;">
    <img src="images/PM.jpg" alt="pms" style="width:180px;height:170px;margin-right:15px;">
    <div style="height: 180px; overflow: auto;"></div>
    <p>It Project management</p>
  </div>
  </div>
  <br>
</section>



  