<!DOCTYPE html>
<html>
  <head>
    <title>Dental Tech!</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  </head>
  <body>


    <%- include('partials/header') %>
    <%- include('partials/content') %>
    <%- include('partials/footer') %>
  
    
  </body>
 
</html>