<!DOCTYPE html>
<html>
<head>
  <title>Dental Tech!</title>
</head>
<%- include('../partials/header') %>
<body>
  
    <%- include('partials/content_lg') %>
    
  </body>
  <%- include('../partials/footer') %>
</html>
