<section>
    <h1>About Me</h1>
    <img src="images/profile.jpeg" alt="home_img" style="width:215px;height:180px;margin-left:15px;">
    <p>"I'm a highly skilled IT professional with over a decade of experience in infrastructure and engineering. I have expertise in server administration, virtualization, and project management. I have a proven track record of successful IT operations and incident management . With my skills and ability to work in high pressure environments, I'm seeking to provide my service in a company that offers new challenges and the opportunity to contribute to process improvements."</p>
  </section>
  