<!DOCTYPE html>
<html>
  <head>
     <title>Dental Tech</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  </head>
  <body>
    
   
    <header>
    
      <nav >        
        <ul>            
          <li><a href="http://localhost:3000/index">
            <button class="3d-button">Home </button>
              </a></li> 

            <li><a href="http://localhost:3000/about">
                <button class="3d-button">About Me </button>
              </a></li> 

            <li><a href="http://localhost:3000/projects">
            <button class="3d-button">Projects </button>
        </a></li> 

        <li><a href="http://localhost:3000/services">
            <button class="3d-button">Services </button>
        </a></li> 

        <li><a href="http://localhost:3000/contact">
            <button class="3d-button">Contact </button>
        </a></li> 
        </ul>
      </nav>
    
    </header>
     
  </body>
</html>